*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", serif;
}

/* Common */
:root {
  --primary-color: #5d3bee;
}

a {
  text-decoration: none;
}

.section-desc {
  margin-top: 20px;
  color: #51586a;
  font-size: 1.8rem;
  line-height: 1.66;
}

.btn {
  margin-top: 50px;
  display: inline-block;
  width: 170px;
  height: 62px;
  background: var(--primary-color);
  border: none;
  color: #fdfdfd;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.66;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.section-heading-lv1 {
  color: #080415;
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.17;
}

.section-heading-lv2 {
  color: #080415;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -1.28px;
}

/* Header */
.header {
  padding: 20px 135px 0;
  background: #fbfaff;
  position: relative;
  overflow: hidden;
}

.navigation {
  display: flex;
  align-items: center;
}

.info {
  margin-right: 357px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__mail {
  color: #080415;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.36;
  text-decoration: underline;
}

.user-img {
  width: 100px;
  height: 100px;
}

.navbar {
  margin-right: -22px;
  display: flex;
  align-items: center;
  width: 100%;
}

.nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
}

.nav-link {
  padding: 4px 22px;
  color: #51586a;
  font-size: 1.8rem;
}

.nav-link:hover {
  text-decoration: underline;
}

.hero {
  margin-top: 44px;
  display: flex;
  align-items: center;
  gap: 156px;
}

.hero-left::before {
  content: url(../img/header-decor-01.png);
  position: absolute;
  left: -46px;
  bottom: 0;
}

.header-img {
  position: relative;
  z-index: 1;
}

.hero-right::after {
  content: url(../img/header-decor-02.png);
  position: absolute;
  right: -7px;
  bottom: 0;
}

.hero__heading {
  width: 500px;
  color: #080415;
  font-size: 8rem;
  font-weight: 500;
  line-height: 0.95;
}

.hero__desc {
  width: 370px;
}

.header__cta {
  margin-bottom: 104px;
}

.header__link {
  margin-left: 30px;
  color: #080415;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
  text-decoration: underline;
}

.header-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__social-media {
  color: #51586a;
  font-weight: 500;
  line-height: 1.87;
}

/* Trusted Company */
.trusted-company {
  margin-top: 100px;
  display: flex;
  gap: 105px;
}

.trusted-company__heading {
  margin-top: 13px;
  padding-left: 101px;
  flex-shrink: 0;
  position: relative;
  width: 354px;
  color: #080415;
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 1.19;
}

.trusted-company__heading::before {
  position: absolute;
  left: 0;
  top: 22px;
  content: "";
  display: inline-block;
  width: 86px;
  height: 2px;
  background-color: var(--primary-color);
}

.trusted-company__list {
  display: flex;
}

.trusted-company__big-column {
  display: flex;
}

.trusted-company__column:first-child {
  margin-right: 61px;
}

.trusted-company__column:nth-child(2) {
  margin-right: 66px;
}

.trusted-company__column:nth-child(3) {
  margin-right: 36px;
}

.trusted-company__column .trusted-company__item:first-child {
  margin-bottom: 34px;
}

/* Our Services */
.our-services {
  margin: 133px 0 140px;
}

.our-services__heading {
  text-align: center;
}

.our-services__desc {
  width: 534px;
  text-align: center;
  margin: 20px auto 60px;
}

.our-services__item {
  padding: 33px 43px !important;
  flex-shrink: initial !important;
  background: #fbfaff;
}

.our-services__item:not(:last-child) {
  margin-right: 30px;
}

.our-services__item-heading {
  margin-top: 22px;
}

.our-services__item-desc {
  margin-top: 15px;
  width: 285px;
}

/* Works */
.works {
  padding: 86px 0;
  background: #5d3bee;
}

.works__heading {
  margin-right: 140px;
  color: #fff;
}

.works__desc {
  margin-top: 31px;
  width: 370px;
  color: #fff;
  opacity: 0.7;
}

.works-list {
  flex-wrap: wrap;
  margin: 70px 0 80px;
}

.works-item {
  flex-shrink: initial !important;
  padding: 24px 23px 23px 34px !important;
  background: url(../img/works-bg.png) no-repeat;
  display: flex;
  column-gap: 47px;
}

.works-item:nth-child(even) {
  margin-left: auto;
}

.works-item:nth-child(3),
.works-item:nth-child(4) {
  margin-top: 30px;
}

.works-item__heading {
  margin-top: 20px;
}

.works-item__desc {
  margin: 10px 0 20px;
  width: 220px;
  color: #51586a;
  line-height: 1.43;
}

.works-item__link {
  color: #080415;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.66;
  text-decoration: underline;
}

.works-btn {
  display: block;
  margin: 0 auto;
  background: #fff;
  color: #080415;
}

/* About Me */
.about-me {
  padding-top: 140px;
}

.about-me__introduction {
  margin-bottom: 10px;
  text-align: center;
}

.about-me__intro {
  margin-right: 9px;
  color: var(--primary-color);
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25; /* 125% */
  letter-spacing: -1.28px;
}

.about-me__heading {
  text-align: center;
}

.about-me__desc {
  margin: 15px auto 70px;
  width: 570px;
  text-align: center;
}

.statistics {
  margin: 0 auto 70px;
  padding: 20px 143px 20px 95px;
  width: 946px;
  border-top: 1px solid #08041533;
  border-bottom: 1px solid #08041533;
  display: flex;
}

.statistics .number {
  color: #080415;
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 1.68px;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}

.statistics .detail {
  color: #51586a;
  font-size: 18px;
  line-height: 1.66;
}

.statistics .mentor:first-child {
  margin-right: 156px;
}

.statistics .mentor:last-child {
  margin-left: 140px;
}

.about-me__media {
  position: relative;
}

.about-me__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.about-me__btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #fff;
  color: #51586a;
  text-transform: uppercase;
}

.about-me__btn:hover {
  opacity: 1;
}
